<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="file:config.properties"/>

	<beans profile="claymore">
	    <bean id="claymoreChecker" class="my.app.mchecker.impl.ClaymoreChecker">
			<constructor-arg index="0" value="${host}"/>
			<constructor-arg index="1" value="${port}"/>
			<constructor-arg index="2" value='{"id":0,"jsonrpc":"2.0","method":"miner_getstat1"}'/>
	    </bean>   	
	</beans>

	<beans profile="sgminer">
	    <bean id="sgminerChecker" class="my.app.mchecker.impl.SGMinerChecker">
			<constructor-arg index="0" value="${host}"/>
			<constructor-arg index="1" value="${port}"/>
			<constructor-arg index="2" value='{"command":"version"}'/>    
	    </bean>  	
	</beans>	 

</beans>